<%- include("partials/header.ejs") %>

    <h1>Home</h1>
    <p><%= startingContent %></p>

    <% posts.map(p => { %>
        <h1><%= p.title %></h1>
        <p><%= p.body %></p>
    <% }) %>

<%- include("partials/footer.ejs") %>
