<%- include("partials/header.ejs") %>

    <h1>Home</h1>
    <p><%= startingContent %></p>

    <% post.map(p => { %>
        <h1><%= p.title %></h1>
        <p><%= p.body.substring(0, 100) + "..." %></p>
        <a href="/posts/<%">Read more</a>
    <% }) %>

<%- include("partials/footer.ejs") %>
